*{
   margin: 0;
   padding: 0;

}

body {
  background: #030000;
  background: linear-gradient(132deg,rgba(3, 0, 0, 1) 0%, rgba(2, 2, 97, 1) 100%, rgba(2, 159, 220, 1) 100%, rgba(0, 212, 255, 1) 93%);
    color: #ffffff;
}




header{

    background: linear-gradient(90deg, #000000, #111111, #000000);
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

header a{
     color: aliceblue;
     text-decoration:none;
         color: white;

}
.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.left-container{
    width: 350px;
    padding: 50px;
}
.left-container img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    

   
}
.right-container{
    width: 800px;
}

.about-container{
     background: linear-gradient(132deg,rgba(3, 0, 0, 1) 0%, rgb(17, 17, 109) 100%, rgb(32, 103, 131) 100%, rgb(0, 0, 0) 93%);
    text-align: center;
    border-radius: 30px;
    margin: auto;
    width: 60%;
    padding: 80px;
    margin-top: 40px;
    font-size: 25px;

}

.about-container h1{
    margin-bottom: 20px;
   
}
.skills {
    text-align: center;
    font-family: Arial, sans-serif;
}

.skill-icons {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill i {
    font-size: 50px;
    color: #ff5722;
    transition: 0.3s;
}

.skill i:hover {
    transform: scale(1.2);
    color: #e64a19;
}

.skill p {
    margin-top: 8px;
    font-size: 16px;
}
.left-footer img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 25px;
    
}
.social-icons a{
    color: #ffffff;
    width: 100px;
    height: 100px;
    font-size: 30px;
}
.left-footer h4{
    font-size: 25px;
    padding: 10px;
    
}
.footer{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    
}
.skills {
  background: linear-gradient(132deg,rgba(3, 0, 0, 1) 0%, rgb(17, 17, 109) 100%, rgb(32, 103, 131) 100%, rgb(0, 0, 0) 93%);
  text-align: center;
    border-radius: 30px;
    margin: auto;
    width: 60%;
    padding: 80px;
    margin-top: 40px;
    font-size: 25px;
    margin-bottom: 40px;
}